 html {
  display: table;
  vertical-align: middle;
  }

  html, body {
    top:0;
   width: auto;
   height: auto;
   margin: auto;
   text-align: center;
   background-image: url("sfondosito.png");
   background-repeat: round;
   background-size: 100% 100%;
   overflow: hidden;
   }

   body{
    padding-top: 3%;
    }
